target/
project/target
.idea/
.idea_modules/
*.DS_Store
build/*.jar
*.private
metastore_db/*
*.log
check/
snowflake.travis.json
lib/
ClusterTest/work/
ClusterTest/target/
ClusterTest/project/target
ClusterTest/src/main/python/*.pyc
