language: scala
sudo: false
cache:
  directories:
  - "$HOME/.ivy2"
matrix:
  include:
  - jdk: openjdk8
    scala: 2.11.12
    env: SPARK_VERSION="2.3.0" INTEGRATION_TESTS=true SNOWFLAKE_TEST_ACCOUNT=aws SPARK_CONN_ENV_USE_COPY_UNLOAD=false
  - jdk: openjdk8
    scala: 2.11.12
    env: SPARK_VERSION="2.3.0" INTEGRATION_TESTS=true SNOWFLAKE_TEST_ACCOUNT=aws SPARK_CONN_ENV_USE_COPY_UNLOAD=true SKIP_BIG_DATA_TEST=true
  - jdk: openjdk8
    scala: 2.11.12
    env: SPARK_VERSION="2.3.0" INTEGRATION_TESTS=true SNOWFLAKE_TEST_ACCOUNT=azure SPARK_CONN_ENV_USE_COPY_UNLOAD=false
  - jdk: openjdk8
    scala: 2.11.12
    env: SPARK_VERSION="2.3.0" INTEGRATION_TESTS=true SNOWFLAKE_TEST_ACCOUNT=azure SPARK_CONN_ENV_USE_COPY_UNLOAD=true SKIP_BIG_DATA_TEST=true
  - jdk: openjdk8
    scala: 2.11.12
    env: SPARK_VERSION="2.3.0" INTEGRATION_TESTS=true SNOWFLAKE_TEST_ACCOUNT=gcp SPARK_CONN_ENV_USE_COPY_UNLOAD=false
script:
- "./dev/run-tests-travis.sh"
after_success:
- bash <(curl -s https://codecov.io/bash)
before_install:
- openssl aes-256-cbc -K $encrypted_3e088c9f7248_key -iv $encrypted_3e088c9f7248_iv
  -in snowflake.travis.json.enc -out snowflake.travis.json -d
