{
  "common": {
    "sfCompress": "on",
    "sfSSL": "on",
    "dbtable": "xxxx",
    "runOption": "snowflake-stage",
    "sfTimeZone": "GMT",
    "sfDatabase": "xxxxx",
    "sfSchema": "xxx",
    "sfWarehouse": "xxx",
    "sfUser": "xxxx",
    "pem_private_key": "xxxx"
    },
  "account_info": [
    {
      "name": "aws",
      "config": {
        "sfURL": "xxxxx.snowflakecomputing.com"
      }
    },
    {
      "name": "azure",
      "config": {
        "sfURL": "xxxx.east-us-2.azure.snowflakecomputing.com"
      }
    },
    {
      "name": "gcp",
      "config": {
        "sfURL": "xxxx.us-central1.gcp.snowflakecomputing.com"
      }
    }
  ],
 "spark_config": {
     "spark.sql.extensions": "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions",
     "spark.sql.catalog.snowlog": "org.apache.iceberg.spark.SparkCatalog"
     },
 "iceberg_config": {
    "externalVolume" : "extVol"
  }
}